.wrapper {
    padding-left: 30px; 
    display: flex ;
    flex-direction: column;
    gap: 30px;
}

.header {
    border: 1px white solid;
    width: 800px;
    height: 100px;
}

.footer {
    border: 1px white solid;
    height: 50px;
}