.primary {
    padding: 13px;
    font-size: 18px;
    width: 100px;
}

.danger {
    padding: 13px;
    font-size: 18px;
    background-color: red;
    width: 100px;
}

.default {
    background-color: rgba(95, 72, 179, 0.66);
    color: black
}

.alternative {
    background-color: black;
    color: white
}